# JBOD (RAID0 linear)
disksim_logorg ${RAID_TYPE} {
  Addressing mode = Parts,
  Distribution scheme = Asis,
  Redundancy scheme = Noredun,
  Stripe unit  =  0,
  Number of copies =  0,
  Parity stripe unit =  1,
  Parity rotation type =  1,
